.leaflet-popup-content-wrapper {
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  width : 30px;
  height: 30px;
  padding: 10px;

  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */

  background: rgba(252, 252, 252, 0.5);
}

.leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}

.leaflet-popup-content
{
    margin: 0;
    padding: 0;
}

.leaflet-popup-tip-container {
    width: 35px;
    height: 15px;
}

.leaflet-popup-tip {
    width: 22px;
    height: 16px;
    box-shadow: none;
    background: rgba(252, 252, 252, 0.5);
}